{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="{% static 'css/converter.css' %} ">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="">Currency Converter</a>
        </div>
        <div class="auth">
            <a href="">Login</a>
            <a href="">Sign Up</a>
        </div>
    </header>
    <div class="converter">
        <form id="form" action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="cur-input">
                <div class="input-value">
                    {{ currency_form.source_currency_value}}
                </div>
                <div class="content">
                    {{ currency_form.source_currency_code}}
                </div>
                <div class="content">
                    {{ currency_form.target_currency_code}}
                </div>
            </div>
            {% if converted_currency %}
            <div class="result">
                <div class="result-amount">
                    <h5>Converted amount</h5>
                        <h5>from <b>{{currency_form.source_currency_code.value}}</b> to
                            <b>{{currency_form.target_currency_code.value}}</b> is:</h5>
                </div>
                <div class="content">
                    {{converted_currency}}
                </div>
            </div>
            {% endif %}
            <hr class="hr-line-dashed">
            <div class="submitbtn">
                <input id="submit" type="submit" value="Convert" />
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                if($('#id_source_currency_value').val()){
                    $('#submit').attr('value', 'Converting...');
                }
            });
        });
    </script>
</body>
</html>