{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="{% static 'css/converter.css' %} ">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="">Currency Converter</a>
        </div>
        <div class="auth">
            <a href="">Login</a>
            <a href="">Sign Up</a>
        </div>
    </header>
    <div class="converter">
        <div class="cur-input">
            <input class="content" type="number" value="1">
            <select class="content" name="Country Currency">
                
            </select>
            <br>
            <input class="content" type="number" value="1">
            <select class="content" name="Country Currency">
                
            </select>
        </div>
    </div>
    
    
</body>
</html>